
SetEnvIfNoCase Referer "^https?://([\w\.]*?create3000\.de)/" create3000=$1
SetEnvIfNoCase Referer "^https?://(localhost)/" localhost=$1

<FilesMatch "\.(eot|svg|ttf|otf|woff|mp3)$">
	Deny from all
	Order Deny,Allow
	Allow from env=create3000
	Allow from env=localhost
</FilesMatch>

